<section class="amount-sale">
  <div class="container">
    <div class="title title__amount-sale">
      <h2>
        Сумма продажи почти та же, <br> а нервов и проблем в 10 раз меньше
      </h2>
      <p>
        Мы действительно предлагаем лучшую цену за срочный выкуп авто в Москве и МО: <br>
        убедитесь в этом сами, взглянув на стандартные примеры!
      </p>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/amount-1.jpg" alt="">
          <div class="swiper-slide__content">
            <div class="swiper-slide__content_wrapper">
              <img src="img/avito.png" alt="">
              <div class="swiper-slide__content_price">
                <strong>
                  цена:
                </strong>
                <p>
                  540 000 руб.
                </p>
              </div>
            </div>
            <div class="swiper-slide__content_wrapper">
              <img src="img/logo-copy.png" alt="">
              <div class="swiper-slide__content_price">
                <strong>
                  цена:
                </strong>
                <p>
                  530 000 руб.
                </p>
            </div>
          </div>
        </div>
      </div>
        <div class="swiper-slide">
          <img src="img/amount-2.jpg" alt="">
          <div class="swiper-slide__content">
            <div class="swiper-slide__content_wrapper">
              <img src="img/avito.png" alt="">
              <div class="swiper-slide__content_price">
                <strong>
                  цена:
                </strong>
                <p>
                  340 000 руб.
                </p>
              </div>
            </div>
            <div class="swiper-slide__content_wrapper">
              <img src="img/logo-copy.png" alt="">
              <div class="swiper-slide__content_price">
                <strong>
                  цена:
                </strong>
                <p>
                  330 000 руб.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="img/amount-1.jpg" alt="">
          <div class="swiper-slide__content">
            <div class="swiper-slide__content_wrapper">
              <img src="img/avito.png" alt="">
              <div class="swiper-slide__content_price">
                <strong>
                  цена:
                </strong>
                <p>
                  540 000 руб.
                </p>
              </div>
            </div>
            <div class="swiper-slide__content_wrapper">
              <img src="img/logo-copy.png" alt="">
              <div class="swiper-slide__content_price">
                <strong>
                  цена:
                </strong>
                <p>
                  530 000 руб.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="img/amount-2.jpg" alt="">
          <div class="swiper-slide__content">
            <div class="swiper-slide__content_wrapper">
              <img src="img/avito.png" alt="">
              <div class="swiper-slide__content_price">
                <strong>
                  цена:
                </strong>
                <p>
                  540 000 руб.
                </p>
              </div>
            </div>
            <div class="swiper-slide__content_wrapper">
              <img src="img/logo-copy.png" alt="">
              <div class="swiper-slide__content_price">
                <strong>
                  цена:
                </strong>
                <p>
                  530 000 руб.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
