<section class="autoexpress">
  <div class="container">
    <div class="title title__autoexpress">
      <h2>
        «Автоэксперт»: 12 лет помогаем автолюбителям по всей стране
      </h2>
      <p>
        Отправьте он-лайн заявку: укажите данные своего автомобиля и сразу узнайте, сколько сможете получить за него уже через 2–4 часа!
      </p>
    </div>
    <div class="autoexpress__wrapper">
      <div class="button">
        <a href="#">
          отправить заявку
        </a>
      </div>
      <input type="checkbox" name="agree" id="terms" class="autoexpress__checkbox_checkbox" checked required>
      <label class="autoexpress__checkbox_label" for="terms">
        Отправляя заявку Вы даете согласие
        на обработку персональных данных
      </label>
    </div>

  </div>
</section>
