<section class="buy-auto" id="buy-auto">
  <div class="container">
    <div class="title">
      <h2>
        Выкуп автомобилей на лучших условиях для нашего клиента
      </h2>
      <p>
        Компания «Автоэксперт» предлагает услуги по
        срочному выкупу исправных и неисправных, а
        также кредитных, арестованных и битых
        автомобилей любого класса и года выпуска
        и оказывает помощь в их реализации
      </p>
    </div>
    <div class="buy-auto__tabs_wrap">
      <div class="buy-auto__tabs_nav">
        <div class="buy-auto__tabs_tab">
          Выкуп авто
        </div>
        <div class="buy-auto__tabs_tab">
          Выкуп кредитнЫх авто
        </div>
        <div class="buy-auto__tabs_tab">
          Выкуп арестованых авто
        </div>
        <div class="buy-auto__tabs_tab">
          Выкуп битых авто
        </div>
      </div>
      <div class="buy-auto__tabs_content">
        <div class="buy-auto__tabs_item">
          <div class="buy-auto__tabs_text">
            <h3>
              Выкуп авто до 3 лет
            </h3>
            <p>
              При продаже автомобиля, выпущенного
              менее 3 лет назад, возникают
              дополнительные обязательства и условия,
              которые могут привести к выплате
              налога на доходы физических лиц,
              составляющего 13% от прибыли, полученной
              в результате образования разницы между
              ценой покупки и продажи. При выкупе мы
              поможем остаться в рамках этой нормы
              закона и не оказаться в убытке.
            </p>
            <div class="button">
              <a href="#">
                Рассчитать стоимость
              </a>
            </div>
          </div>
          <img src="img/tabs-auto-1.jpg" alt="">
        </div>
        <div class="buy-auto__tabs_item">
          <div class="buy-auto__tabs_text">
            <h3>
              Выкуп авто до 3 лет
            </h3>
            <p>
              При продаже автомобиля, выпущенного
              менее 3 лет назад, возникают
              дополнительные обязательства и условия,
              которые могут привести к выплате
              налога на доходы физических лиц,
              составляющего 13% от прибыли, полученной
              в результате образования разницы между
              ценой покупки и продажи. При выкупе мы
              поможем остаться в рамках этой нормы
              закона и не оказаться в убытке.
            </p>
            <div class="button">
              <a href="#" class="modal_open">
                Рассчитать стоимость
              </a>
            </div>
          </div>
          <img src="img/tabs-auto-2.jpg" alt="">
        </div>
        <div class="buy-auto__tabs_item">
          <div class="buy-auto__tabs_text">
            <h3>
              Выкуп авто до 3 лет
            </h3>
            <p>
              При продаже автомобиля, выпущенного
              менее 3 лет назад, возникают
              дополнительные обязательства и условия,
              которые могут привести к выплате
              налога на доходы физических лиц,
              составляющего 13% от прибыли, полученной
              в результате образования разницы между
              ценой покупки и продажи. При выкупе мы
              поможем остаться в рамках этой нормы
              закона и не оказаться в убытке.
            </p>
            <div class="button">
              <a href="#" class="modal_open">
                Рассчитать стоимость
              </a>
            </div>
          </div>
          <img src="img/tabs-auto-3.jpg" alt="">
        </div>
        <div class="buy-auto__tabs_item">
          <div class="buy-auto__tabs_text">
            <h3>
              Выкуп авто до 3 лет
            </h3>
            <p>
              При продаже автомобиля, выпущенного
              менее 3 лет назад, возникают
              дополнительные обязательства и условия,
              которые могут привести к выплате
              налога на доходы физических лиц,
              составляющего 13% от прибыли, полученной
              в результате образования разницы между
              ценой покупки и продажи. При выкупе мы
              поможем остаться в рамках этой нормы
              закона и не оказаться в убытке.
            </p>
            <div class="button">
              <a href="#" class="modal_open">
                Рассчитать стоимость
              </a>
            </div>
          </div>
          <img src="img/tabs-auto-4.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
