<section class="clients" id="clients">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="title title__clients">
          <h2>
            Клиенты Москвы <br>
            о нашей работе
          </h2>
          <p>
            Выкуп автомобилей компанией «Автоэксперт» — вся правда из первых уст. Сформировать наиболее выгодные для клиентов «Автоэксперта» условия срочного выкупа автомобилей помогло тесное сотрудничество с нашими партнерами.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="clients__slider">
          <div class="clients__video">
            <iframe width="470" height="265" src="https://www.youtube.com/embed/YZiS-iSfnv8" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="clients__video">
            <iframe width="470" height="265" src="https://www.youtube.com/embed/Eyd5Ur2NVaM" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
