<section class="faq">
  <div class="container">
    <div class="title">
      <h2>
        Часто задаваемые вопросы
      </h2>
    </div>
    <div class="faq__tabs_wrap">
      <div class="faq__tabs_nav">
        <div class="faq__tabs_tab active">
          процедура выкупа
        </div>
        <div class="faq__tabs_tab">
          оценка
        </div>
        <div class="faq__tabs_tab">
          деньги
        </div>
      </div>
      <div class="faq__tabs_content">
        <div class="faq__tabs_item">
          <ul class="faq__drop">
            <li class="faq__wrapper">
              <div class="faq__head active">
                Какой максимальный возраст автомобиля, и покупаетели вы отечественные автомобили?
              </div>
              <div class="faq__toggle faq__toggle_active">
                Вы можете уточнить всю интересующую Вас информацию по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru. Мы рады ответить на любой вопрос.
              </div>
            </li>
            <li class="faq__wrapper">
              <div class="faq__head">
                Возможен ли обмен автомобиля на другой, с доплатой со стороны покупателя?
              </div>
              <div class="faq__toggle">
                Вы можете уточнить всю интересующую Вас информацию по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru. Мы рады ответить на любой вопрос.
              </div>
            </li>
            <li class="faq__wrapper">
              <div class="faq__head">
                Скупаете ли вы автомобили, после ДТП?
              </div>
              <div class="faq__toggle">
                Вы можете уточнить всю интересующую Вас информацию
                по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru.
                Мы рады ответить на любой вопрос.
              </div>
            </li>
            <li class="faq__wrapper">
              <div class="faq__head">
                Могу ли я быть уверен, что купленное у Вас авто небывало в авариях?
              </div>
              <div class="faq__toggle">
                Вы можете уточнить всю интересующую Вас информацию
                по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru.
                Мы рады ответить на любой вопрос.
              </div>
            </li>
            <li class="faq__wrapper">
              <div class="faq__head">
                Какие документы могут понадобиться для продажи авто?
              </div>
              <div class="faq__toggle">
                Вы можете уточнить всю интересующую Вас информацию
                по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru.
                Мы рады ответить на любой вопрос.
              </div>
            </li>
            <li class="faq__wrapper">
              <div class="faq__head">
                С кем я могу проконсультироваться по оценке состояния и стоимости моего автомобиля?
              </div>
              <div class="faq__toggle">
                Вы можете уточнить всю интересующую Вас информацию
                по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru.
                Мы рады ответить на любой вопрос.
              </div>
            </li>
          </ul>

        </div>
        <div class="faq__tabs_item">
          <ul class="faq__drop">
            <li class="faq__wrapper">
              <div class="faq__head active">
                Какой максимальный возраст автомобиля, и покупаетели вы отечественные автомобили?
              </div>
              <div class="faq__toggle faq__toggle_active">
                Вы можете уточнить всю интересующую Вас информацию по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru. Мы рады ответить на любой вопрос.
              </div>
            </li>
            <li class="faq__wrapper">
              <div class="faq__head">
                Возможен ли обмен автомобиля на другой, с доплатой со стороны покупателя?
              </div>
              <div class="faq__toggle">
                Вы можете уточнить всю интересующую Вас информацию по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru. Мы рады ответить на любой вопрос.
              </div>
            </li>
            <li class="faq__wrapper">
              <div class="faq__head">
                Скупаете ли вы автомобили, после ДТП?
              </div>
              <div class="faq__toggle">
                Вы можете уточнить всю интересующую Вас информацию
                по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru.
                Мы рады ответить на любой вопрос.
              </div>
            </li>
            <li class="faq__wrapper">
              <div class="faq__head">
                Могу ли я быть уверен, что купленное у Вас авто небывало в авариях?
              </div>
              <div class="faq__toggle">
                Вы можете уточнить всю интересующую Вас информацию
                по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru.
                Мы рады ответить на любой вопрос.
              </div>
            </li>
            <li class="faq__wrapper">
              <div class="faq__head">
                Какие документы могут понадобиться для продажи авто?
              </div>
              <div class="faq__toggle">
                Вы можете уточнить всю интересующую Вас информацию
                по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru.
                Мы рады ответить на любой вопрос.
              </div>
            </li>
            <li class="faq__wrapper">
              <div class="faq__head">
                С кем я могу проконсультироваться по оценке состояния и стоимости моего автомобиля?
              </div>
              <div class="faq__toggle">
                Вы можете уточнить всю интересующую Вас информацию
                по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru.
                Мы рады ответить на любой вопрос.
              </div>
            </li>
          </ul>
        </div>
        <div class="faq__tabs_item">
          <ul class="faq__drop">
            <li class="faq__wrapper">
              <div class="faq__head active">
                Какой максимальный возраст автомобиля, и покупаетели вы отечественные автомобили?
              </div>
              <div class="faq__toggle faq__toggle_active">
                Вы можете уточнить всю интересующую Вас информацию по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru. Мы рады ответить на любой вопрос.
              </div>
            </li>
            <li class="faq__wrapper">
              <div class="faq__head">
                Возможен ли обмен автомобиля на другой, с доплатой со стороны покупателя?
              </div>
              <div class="faq__toggle">
                Вы можете уточнить всю интересующую Вас информацию по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru. Мы рады ответить на любой вопрос.
              </div>
            </li>
            <li class="faq__wrapper">
              <div class="faq__head">
                Скупаете ли вы автомобили, после ДТП?
              </div>
              <div class="faq__toggle">
                Вы можете уточнить всю интересующую Вас информацию
                по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru.
                Мы рады ответить на любой вопрос.
              </div>
            </li>
            <li class="faq__wrapper">
              <div class="faq__head">
                Могу ли я быть уверен, что купленное у Вас авто небывало в авариях?
              </div>
              <div class="faq__toggle">
                Вы можете уточнить всю интересующую Вас информацию
                по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru.
                Мы рады ответить на любой вопрос.
              </div>
            </li>
            <li class="faq__wrapper">
              <div class="faq__head">
                Какие документы могут понадобиться для продажи авто?
              </div>
              <div class="faq__toggle">
                Вы можете уточнить всю интересующую Вас информацию
                по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru.
                Мы рады ответить на любой вопрос.
              </div>
            </li>
            <li class="faq__wrapper">
              <div class="faq__head">
                С кем я могу проконсультироваться по оценке состояния и стоимости моего автомобиля?
              </div>
              <div class="faq__toggle">
                Вы можете уточнить всю интересующую Вас информацию
                по телефону +7-495-664-45-62,
                или написав нам на почту kaznacheev2008@yandex.ru.
                Мы рады ответить на любой вопрос.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
