<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__logo">
        <div class="logo">
          AUTO
          <span>
          expert
        </span>
        </div>
        <div class="footer__logo_accent">
          Срочный выкуп авто в Москве и МО
        </div>
      </div>
      <div class="footer__nav">
        <h3>
          Меню
        </h3>
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">Услуги</a></li>
          <li><a href="#">Выкуп авто</a></li>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Онлайн-оценка авто</a></li>
          <li><a href="#">Статьи</a></li>
          <li><a href="#">Автовыкуп в Москве</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="footer__contacts">
        <h3>
          Контакты
        </h3>
        <div class="footer__contacts_wrapper">
          <div class="footer__contacts_info">
            <h4>
              наш адрес:
            </h4>
            <p>
              г. Москва, ул. 13-я Парковая 26
            </p>
          </div>
          <div class="footer__contacts_info">
            <h4>
              наш телефон:
            </h4>
            <p>
              <a href="tel:89255051005">
                8 (925) 505 10 05
              </a>

            </p>
          </div>
          <div class="footer__contacts_info">
            <h4>
              Время работы:
            </h4>
            <p>
              с 10:00 до 22:00, без выходных
            </p>
          </div>
          <div class="footer__contacts_info">
            <h4>
              мессенджеры:
            </h4>
            <p>
              <a href="+89255051005" title="WhatsApp" class="whatsapp">
                Whatsapp
                {{mixins.icon('whatsapp')}}
              </a>
              <a href="viber://chat?number=+89255051005" class="viber" title="WhatsApp">
                Viber
                {{mixins.icon('viber')}}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__wrapper footer__wrapper_main">
      <div class="footer__copyright">
        &#169; Auto-Expert, 2018
        Все права защещены
      </div>
      <div class="footer__social">
        Мы в социальных сетях:
        <a href="viber://chat?number=+89255051005" title="WhatsApp">
          {{mixins.icon('viber')}}
        </a>
        <a href="+89255051005" title="WhatsApp">
          {{mixins.icon('whatsapp')}}
        </a>
      </div>
      <div class="footer__pay">
        Способы оплаты:
        <img src="img/mastercard.svg" alt="">
        <img src="img/visa.svg" alt="">
        <img src="img/bank.svg" alt="">
      </div>
    </div>
  </div>

</footer>
