<div class="info-line" id="home">
  <div class="container">
    <div class="info-line__wrapper">
      <div class="logo">
        AUTO
        <span>
          expert
        </span>
      </div>
      <div class="info-line__accent">
        Срочный выкуп авто в Москве и МО
      </div>
      <div class="info-line__online">
        <div class="info-line__online_text">
          On-line оценка автомобиля:
        </div>
        <div class="info-line__online_links">
          <a href="viber://chat?number=+89255051005" title="WhatsApp">
            {{mixins.icon('viber')}}
          </a>
          <a href="+89255051005" title="WhatsApp">
            {{mixins.icon('whatsapp')}}
          </a>
        </div>
      </div>
      <div class="info-line__tell">
        <a href="tel:+89255051005">
          8 (925) 505 10 05
        </a>
      </div>
      <div class="info-line__button">
        <a href="#" class="modal_open">
          <span>
            бесплатная консультация
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
