<div class="logo nav__logo">
  AUTO
  <span>
          expert
        </span>
</div>
<nav class="nav">
  <div class="container">
    <ul>
      <li><a href="#home">Главная</a></li>
      <li><a href="#buy-auto">Выкуп авто</a></li>
      <li><a href="#our-profile">Наш профиль</a></li>
      <li><a href="#pay-system">Система оплаты</a></li>
      <li><a href="#save-scereen">Онлайн-оценка авто</a></li>
      <li><a href="#urgent">Автовыкуп в Москве</a></li>
      <li><a href="#clients">Отзывы</a></li>
      <li><a href="#footer">Контакты</a></li>
    </ul>
    <div class="info-line__button">
      <a href="#" class="modal_open">
        <span> бесплатная консультация </span>
      </a>
    </div>

  </div>
</nav>
<div class="nav__button">
  <div class="bar"></div>
</div>
