<section class="our-profile">
  <div class="container">
    <div class="title title__our-profile">
      <h2>
        Ваш случай — наш профиль
      </h2>
      <p>
        Срочный автовыкуп позволяет быстро получить
        за свой автомобиль максимально
        возможныеденьги при заданных обстоятельствах.
        Наши услуги необходимы тем:
      </p>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div class="our-profile__wrapper">
          <div class="our-profile__border-num">
            <div class="our-profile__gradient-num">
              01
            </div>
          </div>
          <div class="our-profile__text">
            <h4>
              Кто хочет продать автомобиль, но не
              хочет этим заниматься, тратить
              свои время, силы и нервы.
            </h4>
            <p>
              У них нет необходимости в немедленных
              деньгах, но по ряду причин нужно найти
              покупателя на неисправную или разбитую
              машину либо новое транспортное средство,
              которое не оправдало ожиданий
            </p>
          </div>
        </div>
        <div class="our-profile__wrapper">
          <div class="our-profile__gradient-num our-profile__border-num">
            02
          </div>
          <div class="our-profile__text">
            <h4>
              У кого возникла острая необходимость в срочных деньгах
            </h4>
            <p>
              Поэтому они продают автомобиль, но
              не доверяют частным посредникам,
              среди которых много мошенников, и
              не уверены, что смогут самостоятельно
              продать авто на рынке
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="our-profile__content">
          <h3>
            Обращайтесь к нам, если вам нужно:
          </h3>
          <ul>
            <li>
              Получить деньги сегодня же, в полном объеме и без обмана;
            </li>
            <li>
              Получить деньги наличными или, наоборот, на счет в банке;
            </li>
            <li>
              Продать машину официально с заключением договора купли-продажи;
            </li>
            <li>
              Чтобы оценщик приехал по вашему адресу и осмотрел ваше авто объективно
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
