<section class="pay-system">
  <div class="container">
    <div class="title title__pay-system">
      <h2>
        Гибкая система оплаты за автомобиль
      </h2>
      <p>
        Выкуп автомобилей в Москве на
        выгодных для клиента условиях:
        до 98% от рыночной цены при любом
        тех. состоянии и выплатами на карту
        или наличными за 1 час
      </p>
    </div>
    <div class="pay-system__tabs_wrap">
      <div class="pay-system__tabs_nav">
        <div class="pay-system__tabs_tab">
          процедура выкупа
        </div>
        <div class="pay-system__tabs_tab">
          Необходимые документы
        </div>
        <div class="pay-system__tabs_tab">
          способы оплаты
        </div>
      </div>
      <div class="pay-system__tabs_content">
        <div class="pay-system__tabs_item ">
          <img src="img/tabs-pay-1.jpg" alt="">
          <div class="pay-system__tabs_text">
            <h3>
              Оформление заявки на автовыкуп
            </h3>
            <p>
              Первичное обращение по телефону
              <br>
              <a href="tel:84955051005">8 (495) 505-10-05</a> либо с помощью
              <strong> <a href="#">online заявки</a></strong>
              <span class="whatsapp">
                <a href="+89255051005" title="WhatsApp">
                  Whatsapp {{mixins.icon('whatsapp')}}</a>
              </span>
              <span class="viber">
                <a href="viber://chat?number=+89255051005" title="WhatsApp">
                    Viber {{mixins.icon('viber')}}
                 </a>
              </span>
            </p>
            <h3>
              Выезд оценщика
            </h3>
            <p>
              Наш специалист выезжает на место осмотра авто
              для его точной оценки и подготовки документов
            </p>
            <h3>
              Получение денег
            </h3>
            <p>
              Вы подписываете документы и получаете деньги
              в кассе салона или прямым переводом на карту
            </p>
          </div>
        </div>
        <div class="pay-system__tabs_item">
          <img src="img/tabs-pay-2.jpg" alt="">
          <div class="pay-system__tabs_text">
            <h3>
              Для оформления выкупа автомобиля вам необходимо:
            </h3>
            <ul>
              <li>
                Документ, удостоверяющий личность продавца
              </li>
              <li>
                Паспорт транспортного средства птс
              </li>
              <li>
                Свидетельство о регистрации стс
              </li>
              <li>
                Ген.доверенность, если продавец не собственник ТС
              </li>
            </ul>
          </div>
        </div>
        <div class="pay-system__tabs_item">
          <img src="img/tabs-pay-3.jpg" alt="">
          <div class="pay-system__tabs_text">
            <h3>
              Официальный выкуп
            </h3>
            <p>
              Продать машину официально с заключением договора купли-продажи
            </p>
            <h3>
              Все способы оплаты
            </h3>
            <p>
              Получить деньги наличными или, на банковский счет Получить деньги сегодня же, в полном объеме и без обмана
            </p>
            <h3>
              Любые автомобили
            </h3>
            <p>
              Мы выкупаем любые авто: неисправные, битые, кредитные, арестованные
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
