<section class="reviews">
  <div class="container">
    <div class="reviews__wrapper">
      <div class="row">
        <div class="col-12 col-xl-4 order-2 order-xl-1 d-flex justify-content-center d-xl-block">
          <div class="reviews__wrapper_diagram">
            <div class="reviews__diagram">
              <p>
                5
                <progress value="5" max="5"></progress>
              </p>
              <p>
                4
                <progress value="3.5" max="5"></progress>
              </p>
              <p>
                3
                <progress value="2" max="5"></progress>
              </p>
              <p>
                2
                <progress value="0.2" max="5"></progress>
              </p>
              <p>
                1
                <progress value="0.8" max="5"></progress>
              </p>
            </div>
            <div class="reviews__rating">
              <strong>
                4,3
              </strong>
              <fieldset class="rating_diagram">
                <input type="radio" id="star5_diagram" name="rating_diagram" value="5">
                <label class = "full" for="star5_diagram" title="Великолепно - 5 звезд">
                </label>
                <input type="radio" id="star4half_diagram" name="rating_diagram" value="4 and a half">
                <label class="half" for="star4half_diagram" title="Отлично - 4.5 звезды">
                </label>
                <input type="radio" id="star4_diagram" name="rating_diagram" value="4">
                <label class = "full" for="star4_diagram" title="Очень хорошо - 4 звезды">
                </label>
                <input type="radio" id="star3half_diagram" name="rating_diagram" value="3 and a half">
                <label class="half" for="star3half_diagram" title="Хорошо - 3.5 звезды">
                </label>
                <input type="radio" id="star3_diagram" name="rating_diagram" value="3">
                <label class = "full" for="star3_diagram" title="Нормально - 3 звезды">
                </label>
                <input type="radio" id="star2half_diagram" name="rating_diagram" value="2 and a half">
                <label class="half" for="star2half_diagram" title="Плоховато - 2.5 звезды">
                </label>
                <input type="radio" id="star2_diagram" name="rating_diagram" value="2">
                <label class = "full" for="star2_diagram" title="Плохо - 2 звезды">
                </label>
                <input type="radio" id="star1half_diagram" name="rating_diagram" value="1 and a half">
                <label class="half" for="star1half_diagram" title="Очень плохо - 1.5 звезды">
                </label>
                <input type="radio" id="star1_diagram" name="rating_diagram" value="1">
                <label class = "full" for="star1_diagram" title="Ужасно - 1 здвезда">
                </label>
                <input type="radio" id="starhalf_diagram" name="rating_diagram" value="half">
                <label class="half" for="starhalf_diagram" title="Отвратительно - 0.5 звезды">
                </label>
              </fieldset>
              <p> Отзывов: <span> 276 </span></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-8 order-1 order-xl-2">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="swiper-slide__title">
                  <img src="img/reviews-1.jpg" alt="">
                  <div class="swiper-slide__title_info">
                    <h4>
                      Федоров Иван
                    </h4>
                    <fieldset class="rating_client">
                      <input type="radio" id="star5_client" name="rating_client" value="5">
                      <label class = "full" for="star5_client" title="Великолепно - 5 звезд">
                      </label>
                      <input type="radio" id="star4half_client" name="rating_client" value="4 and a half">
                      <label class="half" for="star4half_client" title="Отлично - 4.5 звезды">
                      </label>
                      <input type="radio" id="star4_client" name="rating_client" value="4">
                      <label class = "full" for="star4_client" title="Очень хорошо - 4 звезды">
                      </label>
                      <input type="radio" id="star3half_client" name="rating_client" value="3 and a half">
                      <label class="half" for="star3half_client" title="Хорошо - 3.5 звезды">
                      </label>
                      <input type="radio" id="star3_client" name="rating_client" value="3">
                      <label class = "full" for="star3_client" title="Нормально - 3 звезды">
                      </label>
                      <input type="radio" id="star2half_client" name="rating_client" value="2 and a half">
                      <label class="half" for="star2half_client" title="Плоховато - 2.5 звезды">
                      </label>
                      <input type="radio" id="star2_client" name="rating_client" value="2">
                      <label class = "full" for="star2_client" title="Плохо - 2 звезды">
                      </label>
                      <input type="radio" id="star1half_client" name="rating_client" value="1 and a half">
                      <label class="half" for="star1half_client" title="Очень плохо - 1.5 звезды">
                      </label>
                      <input type="radio" id="star1_client" name="rating_client" value="1">
                      <label class = "full" for="star1_client" title="Ужасно - 1 здвезда">
                      </label>
                      <input type="radio" id="starhalf_client" name="rating_client" value="half">
                      <label class="half" for="starhalf_client" title="Отвратительно - 0.5 звезды">
                      </label>
                    </fieldset>
                    <data> 2 недели назад</data>
                  </div>
                </div>
                <p>
                  Мой автомобиль был продан за 1 день.
                  Не мог поверить, что такое возможно.
                  Нашел компанию «Автоэксперт» в интернете,
                  позвонил. Оценили по фото, а уже через час
                  ко мне приехал оценщик.
                </p>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__title">
                  <img src="img/reviews-1.jpg" alt="">
                  <div class="swiper-slide__title_info">
                    <h4>
                      Федоров Иван
                    </h4>
                    <fieldset class="rating_client">
                      <input type="radio" id="star5_client" name="rating_client" value="5">
                      <label class = "full" for="star5_client" title="Великолепно - 5 звезд">
                      </label>
                      <input type="radio" id="star4half_client" name="rating_client" value="4 and a half">
                      <label class="half" for="star4half_client" title="Отлично - 4.5 звезды">
                      </label>
                      <input type="radio" id="star4_client" name="rating_client" value="4">
                      <label class = "full" for="star4_client" title="Очень хорошо - 4 звезды">
                      </label>
                      <input type="radio" id="star3half_client" name="rating_client" value="3 and a half">
                      <label class="half" for="star3half_client" title="Хорошо - 3.5 звезды">
                      </label>
                      <input type="radio" id="star3_client" name="rating_client" value="3">
                      <label class = "full" for="star3_client" title="Нормально - 3 звезды">
                      </label>
                      <input type="radio" id="star2half_client" name="rating_client" value="2 and a half">
                      <label class="half" for="star2half_client" title="Плоховато - 2.5 звезды">
                      </label>
                      <input type="radio" id="star2_client" name="rating_client" value="2">
                      <label class = "full" for="star2_client" title="Плохо - 2 звезды">
                      </label>
                      <input type="radio" id="star1half_client" name="rating_client" value="1 and a half">
                      <label class="half" for="star1half_client" title="Очень плохо - 1.5 звезды">
                      </label>
                      <input type="radio" id="star1_client" name="rating_client" value="1">
                      <label class = "full" for="star1_client" title="Ужасно - 1 здвезда">
                      </label>
                      <input type="radio" id="starhalf_client" name="rating_client" value="half">
                      <label class="half" for="starhalf_client" title="Отвратительно - 0.5 звезды">
                      </label>
                    </fieldset>
                    <data> 2 недели назад</data>
                  </div>
                </div>
                <p>
                  Мой автомобиль был продан за 1 день.
                  Не мог поверить, что такое возможно.
                  Нашел компанию «Автоэксперт» в интернете,
                  позвонил. Оценили по фото, а уже через час
                  ко мне приехал оценщик.
                </p>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__title">
                  <img src="img/reviews-1.jpg" alt="">
                  <div class="swiper-slide__title_info">
                    <h4>
                      Федоров Иван
                    </h4>
                    <fieldset class="rating_client">
                      <input type="radio" id="star5_client" name="rating_client" value="5">
                      <label class = "full" for="star5_client" title="Великолепно - 5 звезд">
                      </label>
                      <input type="radio" id="star4half_client" name="rating_client" value="4 and a half">
                      <label class="half" for="star4half_client" title="Отлично - 4.5 звезды">
                      </label>
                      <input type="radio" id="star4_client" name="rating_client" value="4">
                      <label class = "full" for="star4_client" title="Очень хорошо - 4 звезды">
                      </label>
                      <input type="radio" id="star3half_client" name="rating_client" value="3 and a half">
                      <label class="half" for="star3half_client" title="Хорошо - 3.5 звезды">
                      </label>
                      <input type="radio" id="star3_client" name="rating_client" value="3">
                      <label class = "full" for="star3_client" title="Нормально - 3 звезды">
                      </label>
                      <input type="radio" id="star2half_client" name="rating_client" value="2 and a half">
                      <label class="half" for="star2half_client" title="Плоховато - 2.5 звезды">
                      </label>
                      <input type="radio" id="star2_client" name="rating_client" value="2">
                      <label class = "full" for="star2_client" title="Плохо - 2 звезды">
                      </label>
                      <input type="radio" id="star1half_client" name="rating_client" value="1 and a half">
                      <label class="half" for="star1half_client" title="Очень плохо - 1.5 звезды">
                      </label>
                      <input type="radio" id="star1_client" name="rating_client" value="1">
                      <label class = "full" for="star1_client" title="Ужасно - 1 здвезда">
                      </label>
                      <input type="radio" id="starhalf_client" name="rating_client" value="half">
                      <label class="half" for="starhalf_client" title="Отвратительно - 0.5 звезды">
                      </label>
                    </fieldset>
                    <data> 2 недели назад</data>
                  </div>
                </div>
                <p>
                  Мой автомобиль был продан за 1 день.
                  Не мог поверить, что такое возможно.
                  Нашел компанию «Автоэксперт» в интернете,
                  позвонил. Оценили по фото, а уже через час
                  ко мне приехал оценщик.
                </p>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__title">
                  <img src="img/reviews-1.jpg" alt="">
                  <div class="swiper-slide__title_info">
                    <h4>
                      Федоров Иван
                    </h4>
                    <fieldset class="rating_client">
                      <input type="radio" id="star5_client" name="rating_client" value="5">
                      <label class = "full" for="star5_client" title="Великолепно - 5 звезд">
                      </label>
                      <input type="radio" id="star4half_client" name="rating_client" value="4 and a half">
                      <label class="half" for="star4half_client" title="Отлично - 4.5 звезды">
                      </label>
                      <input type="radio" id="star4_client" name="rating_client" value="4">
                      <label class = "full" for="star4_client" title="Очень хорошо - 4 звезды">
                      </label>
                      <input type="radio" id="star3half_client" name="rating_client" value="3 and a half">
                      <label class="half" for="star3half_client" title="Хорошо - 3.5 звезды">
                      </label>
                      <input type="radio" id="star3_client" name="rating_client" value="3">
                      <label class = "full" for="star3_client" title="Нормально - 3 звезды">
                      </label>
                      <input type="radio" id="star2half_client" name="rating_client" value="2 and a half">
                      <label class="half" for="star2half_client" title="Плоховато - 2.5 звезды">
                      </label>
                      <input type="radio" id="star2_client" name="rating_client" value="2">
                      <label class = "full" for="star2_client" title="Плохо - 2 звезды">
                      </label>
                      <input type="radio" id="star1half_client" name="rating_client" value="1 and a half">
                      <label class="half" for="star1half_client" title="Очень плохо - 1.5 звезды">
                      </label>
                      <input type="radio" id="star1_client" name="rating_client" value="1">
                      <label class = "full" for="star1_client" title="Ужасно - 1 здвезда">
                      </label>
                      <input type="radio" id="starhalf_client" name="rating_client" value="half">
                      <label class="half" for="starhalf_client" title="Отвратительно - 0.5 звезды">
                      </label>
                    </fieldset>
                    <data> 2 недели назад</data>
                  </div>
                </div>
                <p>
                  Мой автомобиль был продан за 1 день.
                  Не мог поверить, что такое возможно.
                  Нашел компанию «Автоэксперт» в интернете,
                  позвонил. Оценили по фото, а уже через час
                  ко мне приехал оценщик.
                </p>
              </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
      </div>
        <div class="col-12 col-xl-12 order-3">
          <div class="reviews__wrapper_voting">
            <p>
              Оцените нашу роботу:
            </p>
            <fieldset class="rating">
              <input type="radio" id="star5" name="rating" value="5">
              <label class = "full" for="star5" title="Великолепно - 5 звезд">
              </label>
              <input type="radio" id="star4half" name="rating" value="4 and a half">
              <label class="half" for="star4half" title="Отлично - 4.5 звезды">
              </label>
              <input type="radio" id="star4" name="rating" value="4">
              <label class = "full" for="star4" title="Очень хорошо - 4 звезды">
              </label>
              <input type="radio" id="star3half" name="rating" value="3 and a half">
              <label class="half" for="star3half" title="Хорошо - 3.5 звезды">
              </label>
              <input type="radio" id="star3" name="rating" value="3">
              <label class = "full" for="star3" title="Нормально - 3 звезды">
              </label>
              <input type="radio" id="star2half" name="rating" value="2 and a half">
              <label class="half" for="star2half" title="Плоховато - 2.5 звезды">
              </label>
              <input type="radio" id="star2" name="rating" value="2">
              <label class = "full" for="star2" title="Плохо - 2 звезды">
              </label>
              <input type="radio" id="star1half" name="rating" value="1 and a half">
              <label class="half" for="star1half" title="Очень плохо - 1.5 звезды">
              </label>
              <input type="radio" id="star1" name="rating" value="1">
              <label class = "full" for="star1" title="Ужасно - 1 здвезда">
              </label>
              <input type="radio" id="starhalf" name="rating" value="half">
              <label class="half" for="starhalf" title="Отвратительно - 0.5 звезды">
              </label>
            </fieldset>
            <div class="info-line__button info-line__button_reviews">
              <a href="#">
                <span>
                  Оставить отзыв
                </span>
              </a>
            </div>
          </div>

        </div>
      </div>
  </div>

  </div>
</section>
