<section class="save-screen" id="save-scereen">
  <div class="container">
    <div class="row">
      <div class="order-2 order-xl-1 col-sm-6 col-xl-3 d-flex justify-content-center justify-content-xl-start">
        <img src="img/tel.png" alt="">
      </div>
      <div class="order-3 d-none order-xl-2 col-sm-6 col-xl-3 d-sm-flex justify-content-center justify-content-xl-start">
        <div class="save-screen__tell-save">
          <div class="save-screen__tell-save_name">
            <p>Автоексперт</p>
            <p>Выкуп</p>
            <p>Авто</p>
          </div>
          <div class="save-screen__tell-save_num">
            <a href="tel:89255051005">
              8 (925) 505-10-05
            </a>
          </div>
          <div class="save-screen__tell-save_mail">
            <a href="mailto:info@vykup-auto24.ru">
              info@vykup-auto24.ru
            </a>
          </div>
          <div class="button button__save-screen">
            <a href="tel:89255051005">
              сохранить
            </a>
          </div>
        </div>
      </div>
      <div class="order-1 order-xl-3 col-xl-6 ">
        <div class="save-screen__content">
          <div class="title title__save-screen">
            <h2>
              Нет времени на звонок –
              оценим авто по фото <br>
              в  <span class="viber">
                  <a href="viber://chat?number=+89255051005" title="WhatsApp">
                      Viber</a>
                </span> или
              <span class="whatsapp">
                  <a href="+89255051005" title="WhatsApp">
                    Whatsapp</a>
                </span>
            </h2>
          </div>
          <p>
            <a href="tel:89255051005">
              8 (925) 505 10 05
            </a>
          </p>
          <div class="save-screen__button">
            <a href="viber://chat?number=+89255051005" class="viber" title="WhatsApp">
              сохранить номер {{mixins.icon('viber')}}
            </a>
            <a href="+89255051005" class="whatsapp" title="WhatsApp">
              сохранить номер {{mixins.icon('whatsapp')}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
