<section class="trust">
  <div class="container">
    <div class="title title__trust">
      <h2>
        Почему нам доверяют автовыкуп <br>
        более 245 клиентов каждый год
      </h2>
    </div>
    <div class="trust__wrapper">
      <div class="trust__block">
        <div class="trust__block_wrapper">
          <div class="trust__border-num">
            <img src="img/1-award.svg" alt="">
          </div>
          <div class="trust__text">
            <h4>
              Профессиональный опыт
            </h4>
            <p>
              На протяжении 12 лет мы успешно занимаемся выкупом авто
            </p>
          </div>
        </div>
      </div>
      <div class="trust__block">
        <div class="trust__block_wrapper">
          <div class="trust__border-num">
            <img src="img/2-cash-money.svg" alt="">
          </div>
          <div class="trust__text">
            <h4>
              Моментальный расчет
            </h4>
            <p>
              У нас всегда есть необходимая для оплаты автомобиля сумма
            </p>
          </div>
        </div>
      </div>
      <div class="trust__block">
        <div class="trust__block_wrapper">
          <div class="trust__border-num">
            <img src="img/3-car-repair.svg" alt="">
          </div>
          <div class="trust__text">
            <h4>
              Универсальность
            </h4>
            <p>
              Мы выкупаем любые авто: неисправные, старые, кредитные, битые, арестованные
            </p>
          </div>
        </div>
      </div>
      <div class="trust__block">
        <div class="trust__block_wrapper">
          <div class="trust__border-num">
            <img src="img/4-person.svg" alt="">
          </div>
          <div class="trust__text">
            <h4>
              Индивидуальный подход
            </h4>
            <p>
              Для заключения каждой сделки мы выделяем в распоряжение клиента персонального специалиста
            </p>
          </div>
        </div>
      </div>
      <div class="trust__block">
        <div class="trust__block_wrapper">
          <div class="trust__border-num">
            <img src="img/5-credit-card.svg" alt="">
          </div>
          <div class="trust__text">
            <h4>
              Разные способы оплаты
            </h4>
            <p>
              Мы можем выплатить стоимость авто наличными или выполнить безналичный перевод в любой из 20 банков, с которыми мы сотрудничаем
            </p>
          </div>
        </div>
      </div>
      <div class="trust__block">
        <div class="trust__block_wrapper">
          <div class="trust__border-num">
            <img src="img/6-price-tag.svg" alt="">
          </div>
          <div class="trust__text">
            <h4>
              Лучшая цена
            </h4>
            <p>
              Скупка авто проводится по цене, составляющей 90–95% от его рыночной стоимости, что выше, чем может предложить посредник-аукцион
            </p>
          </div>
        </div>
      </div>
      <div class="trust__block">
        <div class="trust__block_wrapper">
          <div class="trust__border-num">
            <img src="img/7-tow-truck.svg" alt="">
          </div>
          <div class="trust__text">
            <h4>
              Бесплатная эвакуация
            </h4>
            <p>
              Мы выкупаем битые и неисправные авто и выполняем их эвакуацию своими силами
            </p>
          </div>
        </div>
      </div>
      <div class="trust__block">
        <div class="trust__block_wrapper">
          <div class="trust__border-num">
            <img src="img/8-secure-shield.svg" alt="">
          </div>
          <div class="trust__text">
            <h4>
              Безопасность
            </h4>
            <p>
              После подписания договора и получения денег за автомобиль наш клиент уезжает домой на такси за наш счет
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
