<section class="urgent" id="urgent">
  <div class="container">
    <div class="title title__urgent">
      <h2>
        Срочный выкуп авто в Москве: результаты нашей работы
      </h2>
    </div>
    <div class="urgent__slider">
      <div class="urgent__slide">
        <div class="urgent__slide_wrapper">
          <div class="urgent__slide_elem">
            <div class="urgent__slide_name">
              <strong>
                Федоров Иван
              </strong>
              <p>
                невыгодный автокредит
              </p>
            </div>
            <div class="urgent__slide_image">
              <img src="img/urgent-1.jpg" alt="">
            </div>
          </div>
          <div class="urgent__slide_elem">
            <h3>
                Задачи:
            </h3>
            <ul>
              <li>
                Не допустить просрочки кредита.
              </li>
              <li>
                Срочно продать авто, чтобы погасить кредит полностью.
              </li>
              <li>
                Получить максимальную цену за кредитный автомобиль.
              </li>
            </ul>
            <h3>
                Решение:
            </h3>
            <ul>
              <li>
                Обращение в компанию «Автоэксперт».
              </li>
              <li>
                Оценка автомобиля по фотографиям через WhatsApp.
              </li>
              <li>
                Выкуп авто в день обращения.
              </li>
              <li>
                Полное погашение кредита на досрочных условиях.
              </li>
            </ul>
          </div>
          <div class="urgent__slide_elem">
            <h4>
              Результат:
            </h4>
            <ul>
              <li>
                <strong>100% выплата </strong> кредита в срок
              </li>
              <li>
                <strong>2 часа</strong> прошло с момента обращения в компанию до выкупа автомобиля
              </li>
              <li>
                <strong>на 5% - выросла оценочная стоимость</strong> определенная «Автоэксперт»
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="urgent__slide">
        <div class="urgent__slide_wrapper">
          <div class="urgent__slide_elem">
            <div class="urgent__slide_name">
              <strong>
                Федоров Иван
              </strong>
              <p>
                невыгодный автокредит
              </p>
            </div>
            <div class="urgent__slide_image">
              <img src="img/urgent-1.jpg" alt="">
            </div>
          </div>
          <div class="urgent__slide_elem">
            <h3>
              Задачи:
            </h3>
            <ul>
              <li>
                Не допустить просрочки кредита.
              </li>
              <li>
                Срочно продать авто, чтобы погасить кредит полностью.
              </li>
              <li>
                Получить максимальную цену за кредитный автомобиль.
              </li>
            </ul>
            <h3>
              Решение:
            </h3>
            <ul>
              <li>
                Обращение в компанию «Автоэксперт».
              </li>
              <li>
                Оценка автомобиля по фотографиям через WhatsApp.
              </li>
              <li>
                Выкуп авто в день обращения.
              </li>
              <li>
                Полное погашение кредита на досрочных условиях.
              </li>
            </ul>
          </div>
          <div class="urgent__slide_elem">
            <h4>
              Результат:
            </h4>
            <ul>
              <li>
                <strong>100% выплата </strong> кредита в срок
              </li>
              <li>
                <strong>2 часа</strong> прошло с момента обращения в компанию до выкупа автомобиля
              </li>
              <li>
                <strong>на 5% - выросла оценочная стоимость</strong> определенная «Автоэксперт»
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="urgent__slide">
        <div class="urgent__slide_wrapper">
          <div class="urgent__slide_elem">
            <div class="urgent__slide_name">
              <strong>
                Федоров Иван
              </strong>
              <p>
                невыгодный автокредит
              </p>
            </div>
            <div class="urgent__slide_image">
              <img src="img/urgent-1.jpg" alt="">
            </div>
          </div>
          <div class="urgent__slide_elem">
            <h3>
              Задачи:
            </h3>
            <ul>
              <li>
                Не допустить просрочки кредита.
              </li>
              <li>
                Срочно продать авто, чтобы погасить кредит полностью.
              </li>
              <li>
                Получить максимальную цену за кредитный автомобиль.
              </li>
            </ul>
            <h3>
              Решение:
            </h3>
            <ul>
              <li>
                Обращение в компанию «Автоэксперт».
              </li>
              <li>
                Оценка автомобиля по фотографиям через WhatsApp.
              </li>
              <li>
                Выкуп авто в день обращения.
              </li>
              <li>
                Полное погашение кредита на досрочных условиях.
              </li>
            </ul>
          </div>
          <div class="urgent__slide_elem">
            <h4>
              Результат:
            </h4>
            <ul>
              <li>
                <strong>100% выплата </strong> кредита в срок
              </li>
              <li>
                <strong>2 часа</strong> прошло с момента обращения в компанию до выкупа автомобиля
              </li>
              <li>
                <strong>на 5% - выросла оценочная стоимость</strong> определенная «Автоэксперт»
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="urgent__slide">
        <div class="urgent__slide_wrapper">
          <div class="urgent__slide_elem">
            <div class="urgent__slide_name">
              <strong>
                Федоров Иван
              </strong>
              <p>
                невыгодный автокредит
              </p>
            </div>
            <div class="urgent__slide_image">
              <img src="img/urgent-1.jpg" alt="">
            </div>
          </div>
          <div class="urgent__slide_elem">
            <h3>
              Задачи:
            </h3>
            <ul>
              <li>
                Не допустить просрочки кредита.
              </li>
              <li>
                Срочно продать авто, чтобы погасить кредит полностью.
              </li>
              <li>
                Получить максимальную цену за кредитный автомобиль.
              </li>
            </ul>
            <h3>
              Решение:
            </h3>
            <ul>
              <li>
                Обращение в компанию «Автоэксперт».
              </li>
              <li>
                Оценка автомобиля по фотографиям через WhatsApp.
              </li>
              <li>
                Выкуп авто в день обращения.
              </li>
              <li>
                Полное погашение кредита на досрочных условиях.
              </li>
            </ul>
          </div>
          <div class="urgent__slide_elem">
            <h4>
              Результат:
            </h4>
            <ul>
              <li>
                <strong>100% выплата </strong> кредита в срок
              </li>
              <li>
                <strong>2 часа</strong> прошло с момента обращения в компанию до выкупа автомобиля
              </li>
              <li>
                <strong>на 5% - выросла оценочная стоимость</strong> определенная «Автоэксперт»
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
