.icon-1-award {
  width: 1em;
  height: 1em;
  fill: url(#a);
}
.icon-2-cash-money {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-3-car-repair {
  width: 1em;
  height: 1em;
  fill: url(#a);
}
.icon-4-person {
  width: 1em;
  height: 1em;
  fill: url(#a);
}
.icon-viber {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-whatsapp {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
